body{
    background-image: url(../img/pizza_back\ 1.png);
    background-size: cover;
}

@media (min-width:1200px) {
    body{
        background-image: url(../img/pizza_back\ 1\ \(3\).png);
        background-size: cover;
    }
}